@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Bold.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Regular.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Light.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Bold_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Light_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Display';
    src: url('fonts/ElectronicArtsDisplay-Regular_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsDisplay-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Light.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Regular.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Bold.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Regular_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Light_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Electronic Arts Text';
    src: url('fonts/ElectronicArtsText-Bold_1.woff2') format('woff2'),
        url('fonts/ElectronicArtsText-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

