:root{

    --color-ea-primary: #FF4747;
    --color-ea-secondary: blue;
    --color-ea-base: white;
    --color-fifa-base: #151515;
    --color-fifa-mint: #29FFC9;
    --color-fifa-violet: #7E42F5;
    --color-fifa-majenta: #E518FB;
    --color-fifa-obsidian: #201E20; 
    --color-fifa-nav-color: #000000;

    --color-fifa-neutral-0: #ffffff;
    --color-fifa-neutral-100: #E7E7E7;
    --color-fifa-neutral-200: #D0D0D0;
    --color-fifa-neutral-300: #B8B8B8;
    --color-fifa-neutral-400: #A1A1A1;
    --color-fifa-neutral-500: #8A8A8A;
    --color-fifa-neutral-600: #727272;
    --color-fifa-neutral-700: #5B5B5B;
    --color-fifa-neutral-800: #434343;
    --color-fifa-neutral-900: #2C2C2C;
    --color-fifa-neutral-1000: var(--color-fifa-base);

    --dimension-space-large: 24px;
    --dimension-space-larger: 32px;
    --dimension-space-largest: 48px;
    --dimension-space-macro: 64px;
    --dimension-space-medium: 16px;
    --dimension-space-micro: 2px;
    --dimension-space-none: 0px;
    --dimension-space-small: 12px;
    --dimension-space-smaller: 8px;
    --dimension-space-smallest: 4px;

    --font-family-body: 'Electronic Arts Text';
    --font-family-display: 'Electronic Arts Display';

    --font-line-height-body: 1.5;
    --font-line-height-display: 1.25;

    --font-size-base: 16px;

    --font-display-size-sizeXXL: 6rem ;
    --font-display-size-sizeXL: 5rem ;
    --font-display-size-sizeL: 4.5rem ;
    --font-display-size-sizeM: 4rem ;
    --font-display-size-sizeS: 3rem ;
    --font-display-size-sizeXS: 2.5rem ;

    --font-heading-size-XL: 2.25rem;
    --font-heading-size-L: 2rem;
    --font-heading-size-M: 1.75rem;
    --font-heading-size-S: 1.25rem;
    --font-heading-size-XS: 1rem;

    --font-body-size-L: 2rem;
    --font-body-size-M: 1.5rem;
    --font-body-size-S: 1rem;
    --font-body-size-XS: 0.75rem;


}

body{
    background: var(--color-fifa-base);
    font-family: var(--font-family-body);
    font-weight: 300;
    color: var(--color-fifa-neutral-0);
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-body);
}

a{
    color: var(--color-fifa-mint);
}

a:visited{
    color: var(--color-fifa-mint);
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: var(--font-family-display);
    font-weight: bold;
    line-height: var(--font-line-height-display);
}

.dxxl{
    font-size: var(--font-display-size-sizeXXL);
}

.bM{
    font-size: var(--font-body-size-size-M);
    margin: 0px;
}

.bXS{
    font-size: var(--font-body-size-XS);
    margin: 0px;
}

.navbar{
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: var(--color-fifa-nav-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

.left-side{
    display: flex;
    flex-direction: row;
}

.nav-icon{
    width:45px;
    height: 57px;
    margin-right: var(--dimension-space-smaller);
}

.logo{
    width: 129px;
    height: 57px;
}
.logo img{
    height: 57px;
}

.right-side{
    width: 144px;
    height: var(--dimension-space-largest);
}

.fifa-home{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 57px;
}

.fifa-home img{
    width: 100%;
    height: auto;
}

#switch::after{
    content: "";
    position: absolute;
    background-image: url(../img/external.svg);
    width: 16px;
    height: 16px;
    top: 12px;
    right: 12px;
}

.about-game{
    background-color: var(--color-fifa-base);
    padding: 16px 16px;
    position: relative;
    margin-top: var(--dimension-space-largest);
    width: calc(100% - var(--dimension-space-larger));
    height: 500px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.about-game-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: var(--dimension-space-large);
}

.about-game-header h5{
    margin-bottom: 5px;
}

.game-trailer{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: var(--dimension-space-small);
}

.game-trailer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about-game-details{
    background: var(--color-fifa-base);
    margin-top: var(--dimension-space-large);
}

.checkout{
    background-color: var(--color-fifa-base);
    padding: 0 var(--dimension-space-medium);
    position: relative;
    width: calc(100% - 32px);
}

.step-header{
    margin: var(--dimension-space-larger) 0;
}

.step-header-compare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: var(--dimension-space-larger) 0;
}

.select-platform{
    display: block;
}

.checkout-tiles{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: var(--dimension-space-medium);   
}

.stacked {
    grid-template-columns: 1fr;
}

.checkout-tiles img{
    margin-bottom: var(--dimension-space-smaller);
}

.platform-tile{
    width: 100%;
    height: 148px;
    position: relative;
    background-color: var(--color-fifa-neutral-900);
    border: 1px solid var(--color-fifa-neutral-900);
    border-radius: var(--dimension-space-smaller);
    transition: all 0.5s linear;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.subscribe-tile, .buy-tile{
    width: 100%;
    height: 148px;
    background-color: var(--color-fifa-neutral-900);
    border: 1px solid var(--color-fifa-neutral-900);
    border-radius: var(--dimension-space-smaller);
    transition: all 0.5s linear;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.subscribe-tile h4{
    margin-bottom: var(--dimension-space-smaller);
}

.membership-tile{
    width: calc(100% -32px);
    height: fit-content;
    padding: var(--dimension-space-medium);
    background-color: var(--color-fifa-neutral-900);
    border: 1px solid var(--color-fifa-neutral-900);
    border-radius: var(--dimension-space-smaller);
    transition: all 0.5s linear;
    cursor: pointer;
}

.membership-tile:first-child{
    margin-bottom: var(--dimension-space-medium);
}

.membership-tile-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.membership-price{
    text-align: right;
}

.make-selection{
    margin: var(--dimension-space-larger) var(--dimension-space-medium) 96px var(--dimension-space-medium);
    text-align: center;
}

.make-selection h4{
    margin-top: var(--dimension-space-large);
}

.slection-progress{
    position: fixed;
    vertical-align: middle;
    bottom: 0px;
    width: 100%;
    height: 48px;
    padding: var(--dimension-space-smaller) var(--dimension-space-medium);
    background: var(--color-fifa-violet);
}

.checkout-action{
    position: fixed;
    text-align: center;
    padding-top: var(--dimension-space-large);
    bottom: 0px;
    width: 100%;
    height: 48px;
    background: var(--color-fifa-violet);
}

.ea-play-more{
    margin: var(--dimension-space-medium);
    overflow: hidden;
    width: calc(100% - var(--dimension-space-larger));
    transition: all 0.5s ease-in;
}

.ea-play-content h3{
    margin-bottom: var(--dimension-space-small);
}

.ea-play-learn-more-btn{
    margin-bottom: var(--dimension-space-large);
    color: var(--color-fifa-neutral-0);
    background: var(--color-ea-primary);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: var(--dimension-space-smaller) var(--dimension-space-small);
}

.toggle-btn{
    color: var(--color-fifa-mint);
    background: transparent;
    border:none;
    outline: none;;
}

.subs-table{
    display: flex;
    flex-direction: column;
    margin-top: var(--dimension-space-large);
    overflow: hidden;
}

.subs-table-row{
    display: inherit;
    flex-direction: column;
}

.table-row-description{
    height: fit-content;
    margin-top: var(--dimension-space-small);
    text-align: center;
    border-top: 2px solid var(--color-fifa-neutral-900);

}

.table-row-details{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--dimension-space-medium);
}

.cell-header{
    height: 135px;
    width: 100%;
    background: var(--color-fifa-neutral-1000);
    display:inherit;
    justify-content: center;
    align-items: center;
}

.cell-header-with-background{
    height: 135px;
    width: 100%;
    display:inherit;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fifa-neutral-900);
    border: 1px solid var(--color-fifa-neutral-900);
    border-radius: var(--dimension-space-smaller);
    transition: all 0.5s linear;
    cursor: pointer;
    overflow: visible;
}

.cell-icon{
    height: 100%;
    width: 100%;
    background: var(--color-fifa-neutral-1000);
    display:inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.platformTileSelected{
    background-color: var(--color-fifa-neutral-800);
    border: 1px solid var(--color-fifa-mint);
}

.platformTileInactive{
    opacity: 0.3;
    pointer-events: none;
}

.checkout-summary{
    margin-bottom: 100px;
}

.checkout-summary img{
    width: 100%;
    height: auto;
    margin-bottom: var(--dimension-space-large);
} 