:root {
  --color-ea-primary: #ff4747;
  --color-ea-secondary: blue;
  --color-ea-base: white;
  --color-fifa-base: #151515;
  --color-fifa-mint: #29ffc9;
  --color-fifa-violet: #7e42f5;
  --color-fifa-majenta: #e518fb;
  --color-fifa-obsidian: #201e20;
  --color-fifa-nav-color: #000000;
  --color-steam-blue: #397298;

  --table-cell-bg: rgba(50, 50, 50, 0.2);

  --color-fifa-neutral-0: #ffffff;
  --color-fifa-neutral-100: #e7e7e7;
  --color-fifa-neutral-200: #d0d0d0;
  --color-fifa-neutral-300: #b8b8b8;
  --color-fifa-neutral-400: #a1a1a1;
  --color-fifa-neutral-500: #8a8a8a;
  --color-fifa-neutral-600: #727272;
  --color-fifa-neutral-700: #5b5b5b;
  --color-fifa-neutral-800: #434343;
  --color-fifa-neutral-900: #2c2c2c;
  --color-fifa-neutral-1000: var(--color-fifa-base);

  --dimension-space-large: 24px;
  --dimension-space-larger: 32px;
  --dimension-space-largest: 48px;
  --dimension-space-macro: 64px;
  --dimension-space-medium: 16px;
  --dimension-space-micro: 2px;
  --dimension-space-none: 0px;
  --dimension-space-small: 12px;
  --dimension-space-smaller: 8px;
  --dimension-space-smallest: 4px;

  --font-family-body: "Electronic Arts Text";
  --font-family-display: "Electronic Arts Display";

  --font-line-height-body: 1.5;
  --font-line-height-display: 1.25;

  --font-size-base: 16px;

  --font-display-size-sizeXXL: 6rem;
  --font-display-size-sizeXL: 5rem;
  --font-display-size-sizeL: 4.5rem;
  --font-display-size-sizeM: 4rem;
  --font-display-size-sizeS: 3rem;
  --font-display-size-sizeXS: 2.5rem;

  --font-heading-size-XL: 2.25rem;
  --font-heading-size-L: 2rem;
  --font-heading-size-M: 1.75rem;
  --font-heading-size-S: 1.25rem;
  --font-heading-size-XS: 1rem;

  --font-body-size-L: 2rem;
  --font-body-size-M: 1.5rem;
  --font-body-size-S: 1rem;
  --font-body-size-XS: 0.875rem;
  --font-body-size-XXS: 0.75rem;
  --font-body-size-XXXS: 0.65rem;

  /* --border-radius-large: var(--dimension-space-small);
  --border-radius-medium: var(--dimension-space-smallest);
  --border-radius-small: var(--dimension-space-smallest); */

  --border-radius-large: 0;
  --border-radius-medium: 0;
  --border-radius-small: 0;
}

body {
  background: var(--color-fifa-base);
  background-position: top;
  background-repeat: no-repeat;
  font-family: var(--font-family-body);
  font-weight: 300;
  color: var(--color-fifa-neutral-0);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-body);
  max-width: 375px;
  margin:0 auto;
}

.fifaBG {
  background-image: url("../img/bg-element.png");
  background-size: contain;
}

.playstation {
  background: #2f6eca;
}

a {
  color: var(--color-fifa-mint);
}

a:visited {
  color: var(--color-fifa-mint);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-display);
  font-weight: bold;
  line-height: var(--font-line-height-display);
}

.dxxl {
  font-size: var(--font-display-size-sizeXXL);
}

.bM {
  font-size: var(--font-body-size-size-M);
  margin: 0px;
}

.bXS {
  font-size: var(--font-body-size-XS);
  line-height: var(--font-line-height-display);
  margin: 0px;
}

.bXXS {
  font-size: var(--font-body-size-XXS);
  line-height: var(--font-line-height-display);
  margin: 0px;
}

.bXXXS {
  font-size: var(--font-body-size-XXXS);
  line-height: var(--font-line-height-display);
  margin: 0px;
}

.navbar {
  width: 100%;
  height: 57px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--color-fifa-nav-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 15;
}

.sticky-row {
  position: sticky;
  position: -webkit-sticky;
}

.left-side {
  display: flex;
  flex-direction: row;
}

.nav-icon {
  width: 45px;
  height: 57px;
  margin-right: var(--dimension-space-smaller);
}

.logo {
  width: 129px;
  height: 57px;
}

.logo img {
  height: 57px;
}

.right-side {
  width: 144px;
  height: var(--dimension-space-largest);
  display: flex;
  justify-content: flex-end;
}

#profilePicture {
  padding: var(--dimension-space-smaller);
  height: 41px;
}

.fifa-home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fifa-home img {
  width: 100%;
  height: auto;
}

#s2switch::after {
  content: "";
  position: absolute;
  background-image: url(../img/external.svg);
  width: 16px;
  height: 16px;
  top: 12px;
  right: 12px;
}

#standardEditionps5::after,
#championsEditionps5::after,
#ultimateEditionps5::after,
#ultimateEditionps5::after {
  content: "";
  position: absolute;
  background-image: url(../img/external-wBG.svg);
  width: 20px;
  height: 20px;
  top: 4px;
  right: 4px;
}

.membership-tile-description img::after {
  content: "";
  position: absolute;
  background-image: url(../img/external.svg);
  width: 16px;
  height: 16px;
  top: 2px;
  right: 0;
}

.membership-tile-description h3 {
  margin-bottom: var(--dimension-space-smaller);
  position: relative;
  padding-right: var(--dimension-space-large);
}

.about-game {
  padding: 16px 16px;
  position: relative;
  width: calc(100% - var(--dimension-space-larger));
  height: 500px;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.about-game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: var(--dimension-space-large);
}

.about-game-header h5 {
  margin-bottom: 5px;
}

.game-trailer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: var(--border-radius-medium);
  -webkit-border-radius: var(--border-radius-medium);
}

.game-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-game-details {
  background: var(--color-fifa-base);
  margin-top: var(--dimension-space-large);
}

.checkout {
  padding: 0 var(--dimension-space-medium);
  position: relative;
  width: calc(100% - 32px);
}

.checkout2 {
  padding: var(--dimension-space-medium) var(--dimension-space-medium);
  position: relative;
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#expandCheckoutSummarybtn {
  margin-top: var(--dimension-space-medium);
}

.checkout-summary2 {
  overflow: hidden;
  width: 100%;
}

.checkout-summary2 img {
  margin-bottom: var(--dimension-space-medium);
  width: 100%;
}

.ea-play-more {
  background-color: var(--color-fifa-base);
  position: relative;
  width: 100%;
}

.compareJoinBuy {
  background-color: var(--color-fifa-base);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.step-header {
  margin: var(--dimension-space-larger) 0;
}

.step-header-subs {
  margin-bottom: var(--dimension-space-larger);
}

.step-header-compare {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: var(--dimension-space-larger) 0;
}

.step-header-compare .content-left-wide {
  width: 246px;
}

.step-header-compare .content-left {
  width: 224px;
}

.step-header-compare .content-left h4,
.step-header h4 {
  color: var(--color-fifa-neutral-600);
}

.select-platform {
  display: block;
  transition: all 2s linear;
}

#selectPCPlatform,
#selectConsolePlatform,
#eadSection,
#steamSection,
#playstation5Section,
#playstation4Section,
#xboxSection,
#eaPlaySelectMembershipSection,
#buyTheGameSection,
#buyTheGameSectionPS5,
#buyTheGameSectionPS4,
#eaPlaySelectPaymentPlan,
#eaPlayProSelectPaymentPlan,
#steamEAPlaySelectPaymentPlan,
#ps5EAPlaySelectPaymentPlan,
#ps4EAPlaySelectPaymentPlan,
#EADcheckoutBuyStandardEdition,
#EADcheckoutBuyChampionsEdition,
#EADcheckoutBuyUltimateEdition,
#EADcheckoutAnnual,
#EADcheckoutMonthly,
#EADcheckoutProAnnual,
#EADcheckoutProMonthly,
#SteamCheckoutMonthly {
  opacity: 0;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.checkout-tiles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--dimension-space-medium);
  margin-bottom: var(--dimension-space-medium);
}

.platform-tiles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--dimension-space-medium);
  margin-bottom: var(--dimension-space-medium);
}

.edition-tile-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: var(--dimension-space-medium);
}

.edition-grid-outer {
  width: 100%;
  height: auto;
}

.edition-tile {
  height: auto;
  position: relative;
  background-color: var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  transition: all 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.edition-tile img {
  width: 100%;
  margin-bottom: var(--dimension-space-medium);
}

.edition-tile p {
  margin-bottom: var(--dimension-space-smallest);
}

.edition-tile h4 {
  margin-bottom: var(--dimension-space-small);
}

.stacked {
  grid-template-columns: 1fr;
}

.checkout-tiles img {
  margin-bottom: var(--dimension-space-smaller);
}

.platform-tiles img {
  margin-bottom: 0;
}

.platform-tile {
  height: auto;
  padding: var(--dimension-space-large) var(--dimension-space-small);
  position: relative;
  background-color: var(--color-fifa-neutral-900);
  border: 1px solid var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  transition: all 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.subscribe-tile,
.buy-tile {
  height: auto;
  position: relative;
  padding: var(--dimension-space-large) var(--dimension-space-small);
  background-color: var(--color-fifa-neutral-900);
  border: 1px solid var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  transition: all 0.25s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.subscribe-tile h4 {
  margin-bottom: var(--dimension-space-smaller);
}

.membership-tile {
  height: fit-content;
  position: relative;
  padding: var(--dimension-space-medium);
  background-color: var(--color-fifa-neutral-900);
  border: 1px solid var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-medium);
  transition: all 0.25s linear;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#monthlyPaymentsCardps5::after,
#annualPaymentsCardps5::after,
#monthlyPaymentsCardps4::after,
#annualPaymentsCardps4::after,
#steamBuy::after,
#steamJoin::after {
  content: "";
  position: absolute;
  background-image: url(../img/external.svg);
  width: 16px;
  height: 16px;
  top: 14px;
  right: 12px;
}

.split-footer {
  margin-top: var(--dimension-space-larger);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.split-footer img {
  margin-right: var(--dimension-space-medium);
  width: 24px;
  height: 24px;
}

.membership-tile:last-child {
  margin-bottom: 0;
}

.membership-tile p {
  margin-bottom: 0;
}

.membership-tile-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.membership-tile-bottom {
  margin-top: var(--dimension-space-medium);
}

.membership-price {
  text-align: right;
  max-width: 100px;
}

.make-selection {
  margin: var(--dimension-space-larger) var(--dimension-space-medium) 96px
    var(--dimension-space-medium);
  text-align: center;
}

.early-login {
  text-align: center;
}

.make-selection h4 {
  margin-top: var(--dimension-space-large);
}

.selection-progress {
  position: fixed;
  vertical-align: middle;
  bottom: 0px;
  width: 100%;
  height: 48px;
  padding: var(--dimension-space-smaller) var(--dimension-space-medium);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.selection-progress .bXXS {
  margin-top: var(--dimension-space-smaller);
}

.selection-progress .bS {
  margin-top: 0;
}

.ea-desktop {
  background: var(--color-fifa-violet);
}

.steam {
  background: var(--color-steam-blue);
}

.checkout-action {
  position: fixed;
  text-align: center;
  padding-top: var(--dimension-space-medium);
  bottom: 0px;
  width: 100%;
  height: 48px;
  background: var(--color-fifa-violet);
}

.welcome-back {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  padding: var(--dimension-space-medium) 0;
  background-color: var(--color-fifa-violet);
  position: fixed;
  top: 57px;
  z-index: 9;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(-106px);
}

.remove-welcome {
  position: absolute;
  right: 8px;
}

.animate-welcome-back {
  transform: translateY(0) !important;
  opacity: 1;
}

.ea-play-content h3 {
  margin-bottom: var(--dimension-space-small);
}

.ea-play-learn-more-btn {
  color: var(--color-fifa-neutral-0);
  background: var(--color-ea-primary);
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--dimension-space-smaller) var(--dimension-space-small);
}

.ea-play-faq-btn {
  color: var(--color-fifa-neutral-0);
  background: var(--color-fifa-neutral-800);
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--dimension-space-smaller) var(--dimension-space-small);
}

.toggle-btn {
  color: var(--color-fifa-mint);
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  margin: var(--dimension-space-small) 0;
}

.concensed-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: red;
}

.ratings-table-row {
  display: flex;
  flex-direction: row;
  padding: var(--dimension-space-small);
}

.ratings-table-row img {
  margin-right: var(--dimension-space-medium);
  height: 96px;
}

.text-table-row {
  display: flex;
  flex-direction: column;
  padding: var(--dimension-space-small);
  border-top: solid 2px var(--color-fifa-neutral-900);
}

.subs-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.edition-table-wrapper {
  width: 100%;
  margin-bottom: var(--dimension-space-larger);
}

.subs-table-wrapper {
  width: 100%;
  margin-bottom: var(--dimension-space-larger);
}

.edition-table {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: var(--dimension-space-large);
}

.subs-table-row {
  display: inherit;
  flex-direction: column;
}

.table-row-description {
  height: fit-content;
  text-align: center;
}

.table-row-details {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--dimension-space-medium);
}

.table-row-header {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--dimension-space-medium);
  position: sticky;
  position: -webkit-sticky;
  top: 57px;
  padding-top: var(--dimension-space-smaller);
  background: var(--color-fifa-base);
}

.table-row-header2::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/versus.svg");
  display: block;
  left: 50%;
  top: 50%;
  transform: translateX(-12px) translateY(-12px);
  z-index: 10;
}

.table-row-details-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heightSmall {
  height: 48px;
  border-bottom: 2px solid var(--color-fifa-neutral-900);
}

.heightMedium {
  height: 78px;
  border-bottom: 2px solid var(--color-fifa-neutral-900);
}

.heightLarge {
  height: 96px;
  border-bottom: 2px solid var(--color-fifa-neutral-900);
}

.heightFitContent {
  height: fit-content;
}

.table-row-header3 {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 57px;
  padding-top: var(--dimension-space-smaller);
  background: var(--color-fifa-base);
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.table-row-header2 {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 57px;
  padding-top: var(--dimension-space-smaller);
  background: var(--color-fifa-base);
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.cell-header {
  height: fit-content;
  width: 100%;
  background: var(--color-fifa-neutral-1000);
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cell-header-tile {
  height: fit-content;
  width: calc(33.33% - 4px);
  background: var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tile2 {
  height: fit-content;
  width: calc(50% - 8px);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-small);
  padding: var(--dimension-space-small) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tileNEW {
  height: fit-content;
  width: calc(50% - 4px);
  margin-bottom: var(--dimension-space-small);
  background: var(--table-cell-bg);
  padding: var(--dimension-space-medium) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tileNEW3 {
  height: fit-content;
  width: calc(33.33% - 4px);
  margin-bottom: var(--dimension-space-small);
  background: var(--table-cell-bg);
  padding: 0 0 var(--dimension-space-small) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tileNEW4 {
  height: fit-content;
  width: calc(25% - 4px);
  margin-bottom: var(--dimension-space-small);
  background: var(--table-cell-bg);
  padding: 0 0 var(--dimension-space-small) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tileNEW4 p {
  margin-top: var(--dimension-space-small);
}

.cell-header-tileNEW3 img,
.cell-header-tileNEW4 img {
  width: 100%;
}

.cell-header-tile-3up {
  height: fit-content;
  width: calc(33.33% - 4px);
  margin-bottom: var(--dimension-space-small);
  background: var(--table-cell-bg);
  padding: var(--dimension-space-medium) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tile-3up img {
  width: 80%;
}

.cell-header-tile2wBG {
  width: calc(50% - 8px);
  height: fit-content;
  border-radius: var(--border-radius-medium);
  background: var(--color-fifa-neutral-900);
  margin-bottom: var(--dimension-space-small);
  padding: var(--dimension-space-medium) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cell-header-tile img {
  width: 100%;
}

.cell-header img {
  width: 100%;
  border-radius: var(--border-radius-small);
}

.cell-header-tile p {
  margin: var(--dimension-space-small) 0 var(--dimension-space-smallest) 0;
}

.cell-header-tileNEW3 p {
  margin: var(--dimension-space-small) 0 var(--dimension-space-smallest) 0;
}

.cell-header-tile h4 {
  margin-bottom: var(--dimension-space-small);
}

.table-row-description p {
  margin-bottom: var(--dimension-space-smaller);
}

.table-row-description p:last-child {
  margin-bottom: var(--dimension-space-medium);
}

.cell-header-with-background {
  width: 100%;
  padding: var(--dimension-space-medium) 0;
  display: inherit;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fifa-neutral-900);
  border: 1px solid var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-medium);
  transition: all 0.25s linear;
  cursor: pointer;
  overflow: visible;
}

.cell-icon {
  height: 100%;
  width: calc(50% - 4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--dimension-space-smaller);
}

.cell-icon3 {
  height: 100%;
  width: calc(33.33% - 4px);
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--dimension-space-smaller);
}

.cell-icon4 {
  height: 100%;
  width: calc(25% - 4px);
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--dimension-space-smaller);
}

.cell-icon p,
.cell-icon3 p,
.cell-icon4 p {
  padding: var(--dimension-space-small);
}

.cell-divider {
  width: 12px;
  height: 64px;
  background: transparent;
}

.platformTileSelected {
  background-color: var(--color-fifa-neutral-900);
  border: 1px solid var(--color-fifa-mint) !important;
}

.platformTileInactive {
  opacity: 0.3;
  pointer-events: none;
}

.checkout-summary {
  margin-bottom: 100px;
}

.checkout-summary img {
  width: 100%;
  height: auto;
  margin-bottom: var(--dimension-space-large);
}

.checkout-summary-buy {
  margin-bottom: 100px;
}

.checkout-summary-buy img {
  width: 100%;
  height: auto;
  margin-bottom: var(--dimension-space-large);
}

/* Modal Styles */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
  z-index: 100;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 48px);
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--color-fifa-base);
  border-radius: var(--border-radius-small);
  padding: var(--dimension-space-medium) var(--dimension-space-small)
    var(--dimension-space-smaller) var(--dimension-space-small);
  height: fit-content;
  max-height: calc(100% - 48px);
}

.modal__close {
  position: absolute;
  right: var(--dimension-space-small);
  top: var(--dimension-space-small);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 24px;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

/* SWIPER STYLES */
.swiper-container {
  width: 100%;
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-largest);
}

.swiper-container1 {
  overflow: visible !important;
  margin-bottom: var(--dimension-space-large);
}

.swiper-container3 {
  overflow: visible !important;
  margin: var(--dimension-space-medium) 0;
}

.swiper-container4 {
  overflow: visible !important;
  margin: var(--dimension-space-medium) 0;
}

.swiper-container5 {
  overflow: visible !important;
  margin: var(--dimension-space-medium) 0;
}

.swiper-container6 {
  overflow: visible !important;
  margin: var(--dimension-space-smaller) 0 var(--dimension-space-smaller) 0;
}

.swiper-container7 {
  overflow: visible !important;
  margin: var(--dimension-space-smaller) 0 var(--dimension-space-smaller) 0;
}

.swiper-container8 {
  overflow: visible !important;
  margin: var(--dimension-space-smaller) 0 var(--dimension-space-smaller) 0;
}

.swiper-container9 {
  overflow: visible !important;
  margin: var(--dimension-space-smaller) 0 var(--dimension-space-smaller) 0;
}

.swiper-container10 {
  overflow: visible !important;
  margin: var(--dimension-space-smaller) 0 var(--dimension-space-smaller) 0;
}

.swiper-slide4 img {
  margin-bottom: var(--dimension-space-small);
}

.swiper-slide {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  object-fit: cover;
}

.swiper-row-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swiper-row-header p {
  max-width: 82%;
  margin-bottom: var(--dimension-space-smaller);
}

.swiper-row-header .swiper-pagination {
  width: fit-content;
  margin-left: var(--dimension-space-large);
}

.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-medium);
}

.swiper-slide iframe {
  width: 100%;
  height: 231px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-fifa-neutral-0) !important;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-slide1 {
  opacity: 1;
  border: 2px solid var(--color-fifa-base);
}

.selected-media {
  opacity: 1;
  border: 4px solid var(--color-fifa-base);
  outline: 2px solid var(--color-fifa-mint);
}

.swiper-pagination1,
.swiper-pagination4,
.swiper-pagination5,
.swiper-pagination6,
.swiper-pagination7,
.swiper-pagination8,
.swiper-pagination9,
.swiper-pagination10 {
  position: relative !important;
}

.swiper-pagination-bullet {
  background: var(--color-fifa-neutral-800) !important;
  opacity: 1 !important;
  width: 2px !important;
  height: 4px !important;
  margin: 0 !important;
  border-radius: 0px !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-fifa-neutral-300) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: var(--font-body-size-M) !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px !important;
  right: 0;
}

.EAD-callout {
  margin-top: var(--dimension-space-large);
}

.EAD-callout h4 {
  margin-bottom: var(--dimension-space-smaller);
}

.EAD-callout-btn {
  color: var(--color-fifa-neutral-0);
  background: var(--color-ea-primary);
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--dimension-space-smaller) var(--dimension-space-small);
}

/* Login Screen */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 32px);
  margin: var(--dimension-space-largest) auto;
}

.form h2 {
  margin-bottom: var(--dimension-space-medium);
  text-align: center;
}

.form img {
  margin: 0 auto;
}

.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 var(--dimension-space-large);
  padding: 16px 16px;
  border: 1px solid var(--color-fifa-neutral-700);
  border-radius: var(--border-radius-medium);
  background: var(--color-fifa-neutral-1000);
  color: var(--color-fifa-neutral-400);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s linear;
}

.form inputinput:focus {
  color: #333;
  border: 1px solid #44c4e7;
}

.form button {
  cursor: pointer;
  background: var(--color-ea-primary);
  border-radius: var(--border-radius-medium);
  width: 100%;
  padding: 15px 15px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.form button:hover {
  background: var(--color-ea-primary);
}

.error,
.valid {
  display: none;
  text-align: center;
}

.error {
  color: #e75858;
}

.valid {
  color: #4deea1;
}

.loginbox {
  width: 100%;
  margin-bottom: var(--dimension-space-larger);
}

.payment-methods {
  display: flex;
  flex-direction: column;
}

.payment-methods h4 {
  margin-bottom: var(--dimension-space-large);
}

.payment-method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: var(--dimension-space-small);
  background: var(--color-fifa-neutral-900);
  border-radius: var(--border-radius-small);
  margin-bottom: var(--dimension-space-small);
  border: 1px solid var(--color-fifa-neutral-900);
}

.payment-method img {
  height: 24px;
}

.checkout-CTA {
  padding: var(--dimension-space-medium) 0;
}

.checkout-CTA button,
.reviewOrder-CTA button {
  color: white;
  background: var(--color-fifa-violet);
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-medium);
}

.early-login button {
  color: white;
  background: var(--color-ea-primary);
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--dimension-space-medium);
}

.conf-hero {
  width: 100%;
  height: 200px;
  background-image: url("https://media.giphy.com/media/Qwtw3GTvRg8LxKaUet/giphy.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conf-hero::after {
  content: "";
  position: absolute;
  background: rgba(21, 21, 21, 0.4);
  width: 100%;
  height: 260px;
  top: 0;
  left: 0;
  z-index: 2;
}

.conf-hero-bg {
  width: 100%;
  height: auto;
}

.order-totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.gamesRow {
  background: var(--table-cell-bg);
  width: 100%;
  height: fit-content;
  padding: 0 var(--dimension-space-small) 42px var(--dimension-space-small);
  overflow: hidden;
}

.faq-section {
  margin-top: var(--dimension-space-larger);
}

.accordion {
  margin: auto;
  width: 100%;
}

.accordion input {
  display: none;
}

.box {
  position: relative;
  transition: all 0.15s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow: 0 2px 0 var(--color-fifa-neutral-900);
}

.box-title {
  width: calc(100% - 40px);
  line-height: 64px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.height1 {
  height: 64px;
}

.height2 {
  height: 78px;
}

.height3 {
  height: 96px;
}
.box-content {
  width: calc(100% - 32px);
  padding: var(--dimension-space-smallest) var(--dimension-space-medium)
    var(--dimension-space-medium) var(--dimension-space-medium);
  font-size: 11pt;
  color: var(--color-fifa-neutral-100);
  display: none;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

input:checked + .box {
  height: auto;
  background: var(--table-cell-bg);
}

input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}

.arrows section .box-title {
  padding-left: 44px;
  width: calc(100% - 64px);
}

.arrows section .box-title:before {
  position: absolute;
  display: block;
  content: "\203a";
  font-size: 18pt;
  left: 20px;
  top: -2px;
  transition: transform 0.15s ease-in-out;
  color: var(--color-fifa-mint);
}

input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}

.subsUSP {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--dimension-space-smaller);
}

.chevron-rotate {
  transform: rotate(-90deg) !important;
}

#chevron,
#chevron2,
#chevron3,
#chevron4,
#chevron5,
#chevron6,
#chevron7,
#chevron8,
#chevron9 {
  display: inline-block;
  margin-left: var(--dimension-space-smaller);
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}
